<div class="opaque-container">
  <h2>New Account</h2>

  <%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

  <span><%= link "Back", to: session_path(@conn, :new) %></span>
</div>
